In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Read Excel file
xls = pd.ExcelFile("Excel and databases/Data7.xlsx")

# Create SQLite database engine
engine = create_engine('sqlite:///Excel and databases/Data7.db', echo=False)

# Iterate over each sheet in the Excel file
for sheet_name in xls.sheet_names:
    # Ask user for table name
    table_name = input(f"Enter table name for sheet '{sheet_name}': ")
    
    # Read each sheet into a DataFrame
    df = pd.read_excel(xls, sheet_name)
    
    # Write DataFrame to SQLite database
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

# Close the connection
engine.dispose()

print("Excel file has been converted to SQLite database successfully!")

Excel file has been converted to SQLite database successfully!

# Query Checker

In [4]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect("Excel and databases/Data1.db")
cursor = conn.cursor()

# List of example queries
examples = [
    {
        "input": "I want to know about GM.", 
        "query": "SELECT * FROM employees WHERE Designation = 'GM';"
    },
    {
        "input": "Find out who is Lisa.",
        "query": "SELECT * FROM employees WHERE Employee_Name = 'Lisa';"
    },
    {
        "input": "List down all designations in Meezan Bank.",
        "query": "SELECT Designation FROM employees;"
    },  
    {
        "input": "I want to know about my leaves.",
        "query": "SELECT * FROM employees WHERE Employee_Name = 'John';"
    },
    {
        "input": "List down all the employees.",
        "query": "SELECT * FROM employees;"
    },
    {
        "input": "How many sick leaves do I have?",
        "query": "SELECT `Total Sick Leave` - `Utilized Sick Leave` AS `Remaining Sick Leave` FROM employees WHERE Employee_Name = 'Emily';"
    },
    {
        "input": "Kindly tell me about house finance and auto finance for the supervisor.",
        "query": "SELECT `House Finance`, `Auto Finance` FROM perks WHERE Designation = 'Supervisor';"
    },
    {
        "input": "I want to know about the mobile and petrol perks for the manager.",
        "query": "SELECT `Mobile`, `Petrol` FROM benefits WHERE Designation = 'Manager';"
    },
    {
        "input": "Who has the least number of leaves?",
        "query": "SELECT Employee_Name FROM employees ORDER BY `Remaining Annual Leave` + `Remaining Casual Leave` + `Remaining Sick Leave` ASC LIMIT 1;"
    },
    {
        "input": "Can you tell me the petrol allowance for officers?",
        "query": "SELECT `Petrol` FROM benefits WHERE Designation = 'Officer';"
    },
    {
        "input": "How many employees are there?",
        "query": 'SELECT COUNT(*) FROM employees;'
    },
]

# Execute each query and print the result
for example in examples:
    print("Input:", example["input"])
    print("Query:", example["query"])
    cursor.execute(example["query"])
    print("Result:")
    print(cursor.fetchall())
    print("\n")

# Close the connection
conn.close()

Input: I want to know about GM.
Query: SELECT * FROM employees WHERE Designation = 'GM';
Result:
[('Alex', 10004, 'GM', 14, 2, 12, 10, 2, 8, 10, 9, 1)]


Input: Find out who is Lisa.
Query: SELECT * FROM employees WHERE Employee_Name = 'Lisa';
Result:
[('Lisa', 10007, 'Employee', 14, 3, 11, 10, 6, 4, 10, 9, 1)]


Input: List down all designations in Meezan Bank.
Query: SELECT Designation FROM employees;
Result:
[('Officer',), ('Supervisor',), ('Manager',), ('GM',), ('Employee',), ('Employee',), ('Employee',), ('Employee',), ('Employee',), ('Employee',)]


Input: I want to know about my leaves.
Query: SELECT * FROM employees WHERE Employee_Name = 'John';
Result:
[('John', 10002, 'Supervisor', 14, 6, 8, 10, 7, 3, 10, 5, 5)]


Input: List down all the employees.
Query: SELECT * FROM employees;
Result:
[('Sarah', 10001, 'Officer', 14, 4, 10, 10, 6, 4, 10, 6, 4), ('John', 10002, 'Supervisor', 14, 6, 8, 10, 7, 3, 10, 5, 5), ('Emily', 10003, 'Manager', 14, 3, 11, 10, 4, 6, 10, 2, 8), ('Alex', 10004, 'GM', 14, 2, 12, 10, 2, 8, 10, 9, 1), ('Jessica', 10005, 'Employee', 14, 6, 8, 10, 9, 1, 10, 6, 4), ('Mike', 10006, 'Employee', 14, 4, 10, 10, 4, 6, 10, 4, 6), ('Lisa', 10007, 'Employee', 14, 3, 11, 10, 6, 4, 10, 9, 1), ('David', 10008, 'Employee', 14, 1, 13, 10, 7, 3, 10, 6, 4), ('Mark', 10009, 'Employee', 14, 8, 6, 10, 5, 5, 10, 5, 5), ('Tom', 10010, 'Employee', 14, 5, 9, 10, 1, 9, 10, 4, 6)]


Input: How many sick leaves do I have?
Query: SELECT `Total Sick Leave` - `Utilized Sick Leave` AS `Remaining Sick Leave` FROM employees WHERE Employee_Name = 'Emily';
Result:
[(8,)]


Input: Kindly tell me about house finance and auto finance for the supervisor.
Query: SELECT `House Finance`, `Auto Finance` FROM perks WHERE Designation = 'Supervisor';
Result:
[('upto 10 million with 6% interest per annum', 'upto 5 million with 5% interest per annum')]


Input: I want to know about the mobile and petrol perks for the manager.
Query: SELECT `Mobile`, `Petrol` FROM benefits WHERE Designation = 'Manager';
Result:
[('Rs 8000 per month', '200 Liter per month')]


Input: Who has the least number of leaves?
Query: SELECT Employee_Name FROM employees ORDER BY `Remaining Annual Leave` + `Remaining Casual Leave` + `Remaining Sick Leave` ASC LIMIT 1;
Result:
[('Jessica',)]


Input: Can you tell me the petrol allowance for officers?
Query: SELECT `Petrol` FROM benefits WHERE Designation = 'Officer';
Result:
[('100 Liter per month',)]


Input: How many employees are there?
Query: SELECT COUNT(*) FROM employees;
Result:
[(10,)]